<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793154239105-ugpqumqlmdr5fdc6jrtj1in5gsea8p15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793154239105-ugpqumqlmdr5fdc6jrtj1in5gsea8p15</string>
	<key>API_KEY</key>
	<string>AIzaSyAvBaaAdND5sG4EaQZ3NP0VURMbLounOlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>793154239105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud</string>
	<key>PROJECT_ID</key>
	<string>crud-pumasunam</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-pumasunam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793154239105:ios:e1c84b884853e473eeab80</string>
</dict>
</plist>